@import url('../settings/colors.css');

.card-container{
    background-color: var(--color-light);
    width: fit-content;
}

.card-small {
    padding: 1rem;
}

.card-medium {
    padding: 1.5rem;
}

.card-large {
    padding: 2rem;
}