@import url('../settings/sizes.css');

.tk-ticket{
    height: 100%;
    padding: 15px 20px;
}

.tk-ticket__price{
    color: var(--color-primary);
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    height: 100%;
    line-height: var(--line-height-large);
    text-align: left;
    width: 100px;
}

.tk-ticket__position{
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    text-align: left;
    flex: 1;
    box-sizing: border-box;
}

.tk-ticket__position__row{
    color: var(--color-outline);
}
