:root {
    --color-light: #fff;
    --color-primary: #5F47F6;
    --color-success: #5CB89D;
    --color-outline: #808285;
    

    /* HOVER */
    --color-light-hover: #f1f2f2;
    --color-primary-hover: #4D36E2;
    --color-success-hover: #40A587;
    --color-outline-hover: #808285;

    /* ACTIVE */
    /* FALTA DEFINIR ESTOS COLORES DEL ESTADO */
    --color-light-active: #f1f2f2;
    --color-primary-active: #0062cc;
    --color-success-active: #0B610B;
    --color-outline-active: #808285;

    /* DISABLED */
    --color-light-disabled: #808285;
    --color-primary-disabled: #D1D3D4;
    --color-success-disabled: #D1D3D4;
    --color-outline-disabled: #808285;

}

.tk-bg-light {
    background-color: var(--color-light);
}

.tk-bg-primary {
    background-color: var(--color-primary);
}

.tk-bg-success {
    background-color: var(--color-success);
}

.tk-bg-outline {
    background-color: var(--color-outline);
}

.tk-text-light {
    color: var(--color-light);
}

.tk-text-primary {
    color: var(--color-primary);
}

.tk-text-success {
    color: var(--color-success);
}

.tk-border-light {
    border-color: var(--color-light);
}

.tk-border-primary {
    border-color: var(--color-primary);
}

.tk-border-success {
    border-color: var(--color-success);
}

/* HOVER */
.tk-bg-light:hover {
    background-color: var(--color-light);
}


.tk-bg-primary:hover {
    background-color: var(--color-primary-hover);
}

.tk-bg-success:hover {
    background-color: var(--color-success-hover);
}

/* ACTIVE */

.tk-bg-light:active {
    background-color: var(--color-light);
}

.tk-bg-primary:active {
    background-color: var(--color-primary-active);
}

.tk-bg-success:active {
    background-color: var(--color-success-active);
}

/* DISABLED */
.tk-bg-light:disabled {
    background-color: var(--color-light-disabled);
}

.tk-bg-primary:disabled {
    background-color: var(--color-primary-disabled);
}

.tk-bg-success:disabled {
    background-color: var(--color-success-disabled);
}

