:root {
    --color-primary: #007bff;
    --color-light: #fff;
    --color-success: #088A08;
    --color-outline: #acacac;
    --color-outline-success: #088A08;

    /* HOVER */
    --color-primary-hover: #0069d9;
    --color-success-hover: #0B610B;
    --color-outline-hover: #acacac;
    --color-outline-success-hover: #0B610B;

    /* ACTIVE */
    --color-primary-active: #0062cc;
    --color-success-active: #0B610B;
    --color-outline-active: #acacac;
    --color-outline-success-active: #0B610B;

    /* DISABLED */
    --color-primary-disabled: #007bff;
    --color-success-disabled: #0B610B;
    --color-outline-disabled: #acacac;
    --color-outline-success-disabled: #0B610B;
}

.tk-bg-primary {
    background-color: var(--color-primary);
}

.tk-bg-light {
    background-color: var(--color-light);
}

.tk-bg-success {
    background-color: var(--color-success);
}

.tk-bg-outline {
    background-color: var(--color-outline);
}

.tk-bg-outline-success {
    background-color: var(--color-outline-success);
}

.tk-text-primary {
    color: var(--color-primary);
}

.tk-text-light {
    color: var(--color-light);
}

.tk-text-success {
    color: var(--color-success);
}

.tk-text-outline {
    color: var(--color-outline);
}

.tk-text-outline-success {
    color: var(--color-outline-success);
}