:root {
    /* FONT-SIZE */
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;
    --font-size-xxxlarge: 3rem;
    --font-size-xxxxlarge: 4rem;
    --font-size-xxxxxlarge: 5rem;

    /* LINE-HEIGHT */
    --line-height-xsmall: 0.8rem;
    --line-height-small: 1.2rem;
    --line-height-medium: 1.5rem;
    --line-height-large: 1.8rem;
    --line-height-xlarge: 2.1rem;
    --line-height-xxlarge: 2.4rem;
    --line-height-xxxlarge: 2.7rem;
}

.tk-fs-small {
    font-size: var(--font-size-small);
}

.tk-fs-medium {
    font-size: var(--font-size-medium);
}

.tk-fs-large {
    font-size: var(--font-size-large);
}

.tk-fs-xlarge {
    font-size: var(--font-size-xlarge);
}

.tk-fs-xxlarge {
    font-size: var(--font-size-xxlarge);
}

.tk-fs-xxxlarge {
    font-size: var(--font-size-xxxlarge);
}

.tk-fs-xxxxlarge {
    font-size: var(--font-size-xxxxlarge);
}

.tk-fs-xxxxxlarge {
    font-size: var(--font-size-xxxxxlarge);
}

.tk-lh-xsmall {
    line-height: var(--line-height-xsmall);
}

.tk-lh-small {
    line-height: var(--line-height-small);
}

.tk-lh-medium {
    line-height: var(--line-height-medium);
}

.tk-lh-large {
    line-height: var(--line-height-large);
}

.tk-lh-xlarge {
    line-height: var(--line-height-xlarge);
}
